<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Kami tahu yang Anda butuhkan !</h2>
                <hr class="light">
                <p class="text-faded">Mulai bangun branding dan website Anda sekarang atau bekali diri Anda dengan pengetahuan mengenai pemrograman. Jangan biarkan pasar Anda  tidak dapat menjangkau Anda!</p>
                <a href="https://wa.me/6282121325532" class="btn btn-default btn-xl">Chat WA</a>
            </div>
        </div>
    </div>
</section>
