<section id="contact">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Hubungi Kami!</h2>
                <hr class="primary">
                <p>Hubungi kami untuk layanan digital sesuai kebutuhan Anda!</p>
            </div>
        <div class="col-lg-2 col-lg-offset-2 text-center">
            <a href="https://wa.me/6282121325532">
                <i class="fa fa-whatsapp fa-3x wow bounceIn" data-wow-delay=".1s"></i>
            </a>
        </div>
        <div class="col-lg-2 col-lg-offset-1 text-center">
            <a href="mailto:{{ site.email }}">
            <i class="fa fa-envelope-o fa-3x wow bounceIn" data-wow-delay=".1s"></i>
            </a>
        </div>
        <div class="col-lg-2 col-lg-offset-1 text-center">
            <a href=https://www.linkedin.com/in/faris-priadi-9ba17245/>
            <i class="fa fa-linkedin fa-3x wow bounceIn" data-wow-delay=".1s"></i>
            </a>
        </div>

    </div>
</section>
